<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>
        {% block title %} Outdoors {% endblock %}
    </title>

    {% block favicon %}
        <link rel="shortcut icon" href="{{ asset('assets/global/images/favicon.png') }}" type="image/png">
    {% endblock %}

    {% block stylesheets %}
        <link href="{{ asset('assets/global/css/style.css') }}" type="text/css" rel="stylesheet">
        <link href="{{ asset('assets/css/style.css') }}" type="text/css" rel="stylesheet">
        <link href="{{ asset('assets/global/css/theme.css') }}" type="text/css" rel="stylesheet">
        <link href="{{ asset('assets/global/css/ui.css') }}" type="text/css" rel="stylesheet">
        <link href="{{ asset('assets/admin/layout2/css/layout.css') }}" type="text/css" rel="stylesheet">
        <link href="{{ asset('assets/global/plugins/metrojs/metrojs.min.css') }}" type="text/css" rel="stylesheet">
        <link href="{{ asset('assets/global/plugins/maps-amcharts/ammap/ammap.min.css') }}" type="text/css" rel="stylesheet">
        <link href="{{ asset('assets/global/plugins/modernizr/modernizr-2.6.2-respond-1.1.0.min.js') }}" type="text/css" rel="stylesheet">

    {% endblock %}


    {% block javascripts %}
        <script type="text/javascript">
            var URL = "{{ app.request.getSchemeAndHttpHost() }}/rsr/web/app_dev.php"
        </script>
        <script src="{{ asset('assets/global/plugins/modernizr/modernizr-2.6.2-respond-1.1.0.min.js') }}"></script>

    {% endblock %}

</head>
{% block body %}

<body {% if app.user.role == "ROLE_USER" %} class="sidebar-condensed fixed-topbar fixed-sidebar theme-sdtd color-green dashboard" {% else %} class="sidebar-condensed fixed-topbar fixed-sidebar theme-sdtt color-default dashboard" {% endif %} >




{% block content %}
    <div class="page-content page-thin">
    </div>
{% endblock %}

<section>
    {% if app.user != null %}
    {% block leftsidebar %}
        <div class="sidebar">
            <div class="logopanel">
                <h1>
                    <a href="{{ path('home_publications') }}">Outdoors</a>
                </h1>
            </div>
            <div class="sidebar-inner">
                <div class="sidebar-top big-img">
                    <div class="user-image">
                        {% if app.user.image == null %}
                            <img src="{{ asset('assets/images/default.png') }}" class="img-responsive img-circle mylogo" alt="friend 8">

                        {% else %}
                            <img src="{{ asset('uploads/users/'~app.user.image) }}" class="img-responsive img-circle mylogo" alt="friend 8">

                        {% endif %}
                    </div>
                    <h3>{{ app.user.name }} {{ app.user.surname }}</h3>
                    <div class="dropdown user-login">
                        <button class="btn btn-xs dropdown-toggle btn-rounded" type="button" data-toggle="dropdown" data-hover="dropdown" data-close-others="true" data-delay="300">
                            <i class="online"></i><span>Available</span> <i class="fa fa-angle-down"></i>
                        </button>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="#"><i class="busy"></i><span>Busy</span></a>
                            </li>
                            <li>
                                <a href="#"><i class="turquoise"></i>
                                    <span>Invisible</span></a>
                            </li>
                            <li>
                                <a href="#"><i class="away"></i>
                                    <span>Away</span></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="menu-title">
                    Navigation
                    <div class="pull-right menu-settings">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true" data-delay="300">
                            <i class="icon-settings"></i>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="#" id="reorder-menu" class="reorder-menu">Reorder menu</a></li>
                            <li><a href="#" id="remove-menu" class="remove-menu">Remove elements</a></li>
                            <li><a href="#" id="hide-top-sidebar" class="hide-top-sidebar">Hide / show user image</a></li>
                        </ul>
                    </div>
                </div>
                <ul class="nav nav-sidebar">
                    <li class=" nav-active active"><a href="#"><i class="icon-home"></i><span>Home</span></a></li>
                    <li class="nav-parent">
                        <a href="#"><i class="icon-puzzle"></i><span>Randonées</span> <span class="fa arrow"></span></a>
                        <ul class="children collapse">
                            <li><a href="{{ path('affichRando') }}"> Liste des randos</a></li>
                        </ul>
                    </li>
                    <li class="nav-parent">
                        <a href="#"><i class="icon-bulb"></i><span>Campings</span> <span class="fa arrow"></span></a>
                        <ul class="children collapse">
                            <li><a href="{{ path('camping_new') }}">Ajout</a></li>
                            <li><a href="{{ path('camping_index') }}">Liste</a></li>
                            <li><a href="{{ path('calendrier') }}">Calendrier</a></li>
                        </ul>
                    </li>

                    <li class="nav-parent">
                        <a href=""><i class="icon-note"></i><span>Annonces </span><span class="fa arrow"></span></a>
                        <ul class="children collapse">

                            <li class=""><a href="{{ path('list_annonce') }}">Toutes les annonces</a></li>
                            <li class=""><a href="{{ path('mes_annonce') }}">Mes annonces</a></li>
                            <li class=""><a href="{{ path('ajouter_annonce') }}">Déposer annonce</a></li>
                            <li class=""><a href="{{ path('fav_show') }}">Favoris</a></li>

                        </ul>
                    </li>
                    <li class="nav-parent">
                        <a href=""><i class="icon-layers"></i><span>Layouts</span><span class="fa arrow"></span></a>
                        <ul class="children collapse">
                            <li><a href=""> Layout API</a></li>
                            <li><a href=""> Topbar Menu</a></li>
                            <li><a href=""> Topbar Mega Menu</a></li>
                            <li><a href=""> Topbar Mega Dark</a></li>
                            <li><a href=""> Sidebar on Hover</a></li>
                            <li><a href=""> Sidebar Submenu Hover</a></li>
                            <li><a href=""> Boxed Layout</a></li>
                        </ul>
                    </li>
                    <li class="nav-parent">
                        <a href=""><i class="fa fa-table"></i><span>Tables</span><span class="fa arrow"></span></a>
                        <ul class="children collapse">
                            <li><a href=""> Tables Styling</a></li>
                            <li><a href=""> Tables Dynamic</a></li>
                            <li><a href=""> Tables Filter</a></li>
                            <li><a href=""> Tables Editable</a></li>
                        </ul>
                    </li>
                    <li class="nav-parent">
                        <a href=""><i class="icon-bar-chart"></i><span>Charts </span><span class="fa arrow"></span></a>
                        <ul class="children collapse">
                            <li><a href=""> Charts</a></li>
                            <li><a href=""> Financial Charts</a></li>
                        </ul>
                    </li>
                    <li class="nav-parent">
                        <a href=""><i class="icon-picture"></i><span>Medias</span><span class="fa arrow"></span></a>
                        <ul class="children collapse">
                            <li><a href=""> Images Croping</a></li>
                            <li><a href=""> Gallery Sortable</a></li>
                            <li><a href=""> <span class="pull-right badge badge-primary">12</span> Hover Effects</a></li>
                        </ul>
                    </li>
                    <li class="nav-parent">
                        <a href=""><i class="icon-docs"></i><span>Pages </span><span class="fa arrow"></span></a>
                        <ul class="children collapse">
                            <li><a href=""> Timeline</a></li>
                            <li><a href=""> Error 404</a></li>
                            <li><a href=""> Error 500</a></li>
                            <li><a href=""> Blank Page</a></li>
                            <li><a href=""> Contact</a></li>
                        </ul>
                    </li>
                    <li class="nav-parent">
                        <a href=""><i class="icon-user"></i><span>User </span><span class="fa arrow"></span></a>
                        <ul class="children collapse">
                            <li><a href=""> <span class="pull-right badge badge-danger">Hot</span> Profil</a></li>
                            <li><a href=""> Lockscreen</a></li>
                            <li><a href=""> Login / Register</a></li>
                            <li><a href=""> Login / Register v2</a></li>
                            <li><a href=""> Session Timeout</a></li>
                        </ul>
                    </li>
                    <li class="nav-parent">
                        <a href=""><i class="icon-basket"></i><span>eCommerce </span><span class="fa arrow"></span></a>
                        <ul class="children collapse">
                            <li><a href=""> Shopping Cart</a></li>
                            <li><a href=""> Invoice</a></li>
                            <li><a href=""><span class="pull-right badge badge-success">5</span> Pricing Table</a></li>
                        </ul>
                    </li>
                    <li class="nav-parent">
                        <a href=""><i class="icon-cup"></i><span>Extra </span><span class="fa arrow"></span></a>
                        <ul class="children collapse">
                            <li><a href=""><span class="pull-right badge badge-primary">New</span> Fullcalendar</a></li>
                            <li><a href=""> Widgets</a></li>
                            <li><a href=""> Coming Soon</a></li>
                            <li><a href=""> Sliders</a></li>
                            <li><a href=""> Google Maps</a></li>
                            <li><a href=""> Vector Maps</a></li>
                            <li><a href=""> Translation</a></li>
                        </ul>
                    </li>
                </ul>
                <!-- SIDEBAR WIDGET FOLDERS -->
                <div class="sidebar-widgets">
                    <p class="menu-title widget-title">Statistics <span class="pull-right"><a href="#" class="hide-widget"> <i class="icons-office-52"></i></a></span></p>
                    <div class="charts-sidebar progress-chart">
                        <div class="sidebar-charts-inner">
                            <div class="clearfix">
                                <div class="sidebar-chart-title">Stat 1</div>
                                <div class="sidebar-chart-number">82%</div>
                            </div>
                            <div class="progress">
                                <div class="progress-bar progress-bar-primary stat1" data-transitiongoal="82"></div>
                            </div>
                        </div>
                        <div class="sidebar-charts-inner">
                            <div class="clearfix">
                                <div class="sidebar-chart-title">Stat 2</div>
                                <div class="sidebar-chart-number">43%</div>
                            </div>
                            <div class="progress">
                                <div class="progress-bar progress-bar-primary stat2" data-transitiongoal="43"></div>
                            </div>
                        </div>
                        <div class="sidebar-charts-inner">
                            <div class="clearfix">
                                <div class="sidebar-chart-title">Stat 3</div>
                                <div class="sidebar-chart-number" id="number-visits">93%</div>
                            </div>
                            <div class="progress">
                                <div class="progress-bar progress-bar-primary stat3" data-transitiongoal="93"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="sidebar-footer clearfix">
                    <a class="pull-left footer-settings" href="#" data-rel="tooltip" data-placement="top" data-original-title="Settings">
                        <i class="icon-settings"></i></a>
                    <a class="pull-left toggle_fullscreen" href="#" data-rel="tooltip" data-placement="top" data-original-title="Fullscreen">
                        <i class="icon-size-fullscreen"></i></a>
                    <a class="pull-left" href="" data-rel="tooltip" data-placement="top" data-original-title="Lockscreen">
                        <i class="icon-lock"></i></a>
                    <a class="pull-left btn-effect" href="" data-modal="modal-1" data-rel="tooltip" data-placement="top" data-original-title="Logout">
                        <i class="icon-power"></i></a>
                </div>
            </div>
        </div>
    {% endblock %}


    {% block topnavbar %}

        <div class="main-content">
            <!-- BEGIN TOPBAR -->
            <div class="topbar">
                <div class="header-left">
                    <div class="topnav">
                        <a class="menutoggle" href="#" data-toggle="sidebar-collapsed"><span class="menu__handle"><span>Menu</span></span></a>
                        <ul class="nav nav-icons">
                            <li><a href="#" class="toggle-sidebar-top"><span class="icon-user-following"></span></a></li>
                            <li><a href="{{ path('private_message_index') }}"><span class="octicon octicon-mail-read"></span></a></li>
                            <li><a href="{{ path('grapheChart') }}"><span class="octicon octicon-flame"></span></a></li>
                            <li><a href="actualite"><span class="octicon octicon-rocket"></span></a></li>

                            <li>
                                <a href="{{ path('user_list') }}">
                                    <span style="margin-top:-2px;" class="glyphicon glyphicon-list" aria-hidden="true"></span>
                                    </a>
                            </li>
                            <li>
                                <form style="margin-top:-15px;" action="{{ path('user_search') }}" class="navbar-form navbar-left" >

                                    <div class="form-group">
                                        <input type="text" class="form-control" name="search" placeholder="Search">
                                    </div>

                                    <buttom type="submit" id="search-btn" class="btn btn-default">
                                        <span id="search-icon" class="glyphicon glyphicon-search" aria-hidden="true"></span>
                                    </buttom>
                                </form>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="header-right">
                    <ul style="margin-top: -50px" class="header-menu nav navbar-nav">
                        <!-- BEGIN USER DROPDOWN -->
                        <li class="dropdown" id="language-header">
                            <a href="#" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                                <i class="icon-globe"></i>
                                <span>Language</span>
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="#" data-lang="en"><img src="{{ asset('assets/global/images/flags/usa.png') }}" alt="flag-english"> <span>English</span></a>
                                </li>
                                <li>
                                    <a href="#" data-lang="es"><img src="{{ asset('assets/global/images/flags/spanish.png') }}" alt="flag-english"> <span>Español</span></a>
                                </li>
                                <li>
                                    <a href="#" data-lang="fr"><img src="{{ asset('assets/global/images/flags/french.png') }}" alt="flag-english"> <span>Français</span></a>
                                </li>
                            </ul>
                        </li>
                        <!-- END USER DROPDOWN -->
                        <!-- BEGIN NOTIFICATION DROPDOWN -->
                        <li class="dropdown" id="notifications-header">
                            <a href="#" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                                <i class="icon-bell"></i>
                                <span class="badge badge-danger badge-header">6</span>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="dropdown-header clearfix">
                                    <p class="pull-left">12 Pending Notifications</p>
                                </li>
                                <li>
                                    <ul class="dropdown-menu-list withScroll" data-height="220">
                                        <li>
                                            <a href="#">
                                                <i class="fa fa-star p-r-10 f-18 c-orange"></i>
                                                Steve have rated your photo
                                                <span class="dropdown-time">Just now</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="fa fa-heart p-r-10 f-18 c-red"></i>
                                                John added you to his favs
                                                <span class="dropdown-time">15 mins</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="fa fa-file-text p-r-10 f-18"></i>
                                                New document available
                                                <span class="dropdown-time">22 mins</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="fa fa-picture-o p-r-10 f-18 c-blue"></i>
                                                New picture added
                                                <span class="dropdown-time">40 mins</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="fa fa-bell p-r-10 f-18 c-orange"></i>
                                                Meeting in 1 hour
                                                <span class="dropdown-time">1 hour</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="fa fa-bell p-r-10 f-18"></i>
                                                Server 5 overloaded
                                                <span class="dropdown-time">2 hours</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="fa fa-comment p-r-10 f-18 c-gray"></i>
                                                Bill comment your post
                                                <span class="dropdown-time">3 hours</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="fa fa-picture-o p-r-10 f-18 c-blue"></i>
                                                New picture added
                                                <span class="dropdown-time">2 days</span>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="dropdown-footer clearfix">
                                    <a href="#" class="pull-left">See all notifications</a>
                                    <a href="#" class="pull-right">
                                        <i class="icon-settings"></i>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <!-- END NOTIFICATION DROPDOWN -->
                        <!-- BEGIN MESSAGES DROPDOWN -->
                        <li class="dropdown" id="messages-header">
                            <a href="#" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                                <i class="icon-paper-plane"></i>
                                <span class="badge badge-primary badge-header">
                8
                </span>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="dropdown-header clearfix">
                                    <p class="pull-left">
                                        You have 8 Messages
                                    </p>
                                </li>
                                <li class="dropdown-body">
                                    <ul class="dropdown-menu-list withScroll" data-height="220">
                                        <li class="clearfix">
                        <span class="pull-left p-r-5">
                        <img src="{{ asset('assets/global/images/avatars/avatar3.png') }}" alt="avatar 3">
                        </span>
                                            <div class="clearfix">
                                                <div>
                                                    <strong>Alexa Johnson</strong>
                                                    <small class="pull-right text-muted">
                                                        <span class="glyphicon glyphicon-time p-r-5"></span>12 mins ago
                                                    </small>
                                                </div>
                                                <p>Lorem ipsum dolor sit amet, consectetur...</p>
                                            </div>
                                        </li>
                                        <li class="clearfix">
                        <span class="pull-left p-r-5">
                        <img src="{{ asset('assets/global/images/avatars/avatar4.png') }}" alt="avatar 4">
                        </span>
                                            <div class="clearfix">
                                                <div>
                                                    <strong>John Smith</strong>
                                                    <small class="pull-right text-muted">
                                                        <span class="glyphicon glyphicon-time p-r-5"></span>47 mins ago
                                                    </small>
                                                </div>
                                                <p>Lorem ipsum dolor sit amet, consectetur...</p>
                                            </div>
                                        </li>
                                        <li class="clearfix">
                        <span class="pull-left p-r-5">
                        <img src="{{ asset('assets/global/images/avatars/avatar5.png') }}" alt="avatar 5">
                        </span>
                                            <div class="clearfix">
                                                <div>
                                                    <strong>Bobby Brown</strong>
                                                    <small class="pull-right text-muted">
                                                        <span class="glyphicon glyphicon-time p-r-5"></span>1 hour ago
                                                    </small>
                                                </div>
                                                <p>Lorem ipsum dolor sit amet, consectetur...</p>
                                            </div>
                                        </li>
                                        <li class="clearfix">
                        <span class="pull-left p-r-5">
                        <img src="{{ asset('assets/global/images/avatars/avatar6.png') }}" alt="avatar 6">
                        </span>
                                            <div class="clearfix">
                                                <div>
                                                    <strong>James Miller</strong>
                                                    <small class="pull-right text-muted">
                                                        <span class="glyphicon glyphicon-time p-r-5"></span>2 days ago
                                                    </small>
                                                </div>
                                                <p>Lorem ipsum dolor sit amet, consectetur...</p>
                                            </div>
                                        </li>
                                    </ul>
                                </li>
                                <li class="dropdown-footer clearfix">
                                    <a href="mailbox.html" class="pull-left">See all messages</a>
                                    <a href="#" class="pull-right">
                                        <i class="icon-settings"></i>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <!-- END MESSAGES DROPDOWN -->
                        <!-- BEGIN USER DROPDOWN -->
                        <li class="dropdown" id="user-header">
                            <a href="#" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                                {% if app.user.image == null %}
                                    <img src="{{ asset('assets/images/default.png') }}" alt="user image">

                                {% else %}
                                    <img src="{{ asset('uploads/users/'~app.user.image) }}" alt="user image">

                                {% endif %}
                                <span class="username">Hi, {{ app.user.username }}</span>
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="{{ path('user_profile')~"/"~app.user.username }}"><i class="icon-user"></i><span>My Profile</span></a>
                                </li>
                                <li>
                                    <a href="{{ path('user_edit') }}"><i class="icon-settings"></i><span>Account Settings</span></a>
                                </li>
                                <li>
                                    <a href="{{ path('logout') }}"><i class="icon-logout"></i><span>Logout</span></a>
                                </li>
                            </ul>
                        </li>
                        <!-- END USER DROPDOWN -->
                        <!-- CHAT BAR ICON -->
                        <li id="quickview-toggle"><a href="#"><i class="icon-bubbles"></i></a></li>
                    </ul>
                </div>
                <!-- header-right -->
            </div>
            <!-- END TOPBAR -->
            <!-- BEGIN PAGE CONTENT -->
            <div class="page-content page-thin">



            </div>
            <!-- END PAGE CONTENT -->
        </div>
    {% endblock %}

    {% endif %}



</section>
<a href="#" class="scrollup"><i class="fa fa-angle-up"></i></a>

{% block moreJS %}

    <script src="{{ asset('assets/global/plugins/jquery/jquery-1.11.1.min.js') }}"></script>
    <script src="{{ asset('assets/global/plugins/jquery/jquery-migrate-1.2.1.min.js') }}"></script>
    <script src="{{ asset('assets/global/plugins/jquery-ui/jquery-ui-1.11.2.min.js') }}"></script>
    <script src="{{ asset('assets/global/plugins/gsap/main-gsap.min.js') }}"></script>
    <script src="{{ asset('assets/global/plugins/bootstrap/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('assets/global/plugins/jquery-cookies/jquery.cookies.min.js') }}"></script>
    <script src="{{ asset('assets/global/plugins/jquery-block-ui/jquery.blockUI.min.js') }}"></script>
    <script src="{{ asset('assets/global/plugins/bootbox/bootbox.min.js') }}"></script>
    <script src="{{ asset('assets/global/plugins/mcustom-scrollbar/jquery.mCustomScrollbar.concat.min.js') }}"></script>
    <script src="{{ asset('assets/global/plugins/bootstrap-dropdown/bootstrap-hover-dropdown.min.js') }}"></script>
    <script src="{{ asset('assets/global/plugins/charts-sparkline/sparkline.min.js') }}"></script>
    <script src="{{ asset('assets/global/plugins/retina/retina.min.js') }}"></script>
    <script src="{{ asset('assets/global/plugins/select2/select2.min.js') }}"></script>
    <script src="{{ asset('assets/global/plugins/icheck/icheck.min.js') }}"></script>
    <script src="{{ asset('assets/global/plugins/backstretch/backstretch.min.js') }}"></script>
    <script src="{{ asset('assets/global/plugins/bootstrap-progressbar/bootstrap-progressbar.min.js') }}"></script>
    <script src="{{ asset('assets/global/js/builder.js') }}"></script>
    <script src="{{ asset('assets/global/js/sidebar_hover.js') }}"></script>
    <script src="{{ asset('assets/global/js/application.js') }}"></script>
    <script src="{{ asset('assets/global/js/plugins.js') }}"></script>
    <script src="{{ asset('assets/global/js/widgets/notes.js') }}"></script>
    <script src="{{ asset('assets/global/js/quickview.js') }}"></script>
    <script src="{{ asset('assets/global/js/pages/search.js') }}"></script>
    <script src="{{ asset('assets/global/plugins/noty/jquery.noty.packaged.min.js') }}"></script>
    <script src="{{ asset('assets/global/plugins/bootstrap-editable/js/bootstrap-editable.min.js') }}"></script>
    <script src="{{ asset('assets/global/plugins/bootstrap-context-menu/bootstrap-contextmenu.min.js') }}"></script>
    <script src="{{ asset('assets/global/plugins/multidatepicker/multidatespicker.min.js') }}"></script>
    <script src="{{ asset('assets/global/js/widgets/todo_list.js') }}"></script>
    <script src="{{ asset('assets/global/plugins/metrojs/metrojs.min.js') }}"></script>
    <script src="{{ asset('assets/global/plugins/charts-chartjs/Chart.min.js') }}"></script>
    <script src="{{ asset('assets/global/plugins/charts-highstock/js/highstock.min.js') }}"></script>
    <script src="{{ asset('assets/global/plugins/charts-highstock/js/modules/exporting.min.js') }}"></script>
    <script src="{{ asset('assets/global/plugins/maps-amcharts/ammap/ammap.min.js') }}"></script>
    <script src="{{ asset('assets/global/plugins/maps-amcharts/ammap/maps/js/worldLow.min.js') }}"></script>
    <script src="{{ asset('assets/global/plugins/maps-amcharts/ammap/themes/black.min.js') }}"></script>
    <script src="{{ asset('assets/global/plugins/skycons/skycons.min.js') }}"></script>
    <script src="{{ asset('assets/global/plugins/simple-weather/jquery.simpleWeather.js') }}"></script>
    <script src="{{ asset('assets/global/js/widgets/widget_weather.js') }}"></script>
    <script src="{{ asset('assets/global/js/pages/dashboard.js') }}"></script>
    <script src="{{ asset('assets/admin/layout2/js/layout.js') }}"></script>


{% endblock %}

</body>
{% endblock %}
</html>