{% extends "AppBundle:Layouts:layout.html.twig" %}
{% block title %} Outdoors - Stats {% endblock %}

{% block javascripts %}

    {{ parent() }}
{% endblock %}

{% block stylesheets %}

    {{ parent() }}
{% endblock %}

{% block content %}

    <div class="col-lg-9 box-form col-lg-offset-2">

        <br>

    <script src="{{asset('assets/js/jquery.min.js')}}" type="text/javascript"></script>

    <script src="{{asset('assets/js/highcharts.js')}}"></script>

    <script src="{{asset('assets/js/exporting.js')}}"></script>

    <script type="text/javascript">

        {{ chart(chart) }}

    </script>

    <div id="linechart" style="min-width: 400px; height: 400px; margin: 0 auto"></div>

    </div>


{% endblock %}